@charset 'UTF-8';
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /*overflow: auto;*/
}
body.chint .main-header__logo {
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  margin-top: 14px;
  /*font-size: 143px auto;*/
  width: 113px;
  display: block;
  background-size: 108px auto;
  /*margin-right: 69px;*/
}
body.chint .main-header--bgMine .main-header__top__inner {
  max-width: 1430px;
}
body.chint .main-header--bgMine .main-header__top__inner{
  justify-content: space-between;
    max-width: 1680px;
}
body.chint .main-header__logo img {
  opacity: 0
}
body.chint .main-header__logo span {
  font-size: 10px;
  width: 113px;
  color: #a0a0a0;
  font-family: "Open Sans";
  font-weight: 400;
  text-align: center;
  margin-top: 0px;
  display: block;
  ;
}
body.chint .main-header__price{
  position: relative;
  top: 1px;}
body.chint .main-header__phone{
  line-height: 16px;
  position: relative;
  top: 3px;;;}
body.chint .main-header__top__right .main-header__phone a{
    color: #000;
    font-weight: 700;
}
body.chint .main-header__top__right a.tex1{
  margin-top: 4px;
  position: relative;
  left: 9px;
  top: 1px;;;;}
body.chint .main-header__nav nav>ul>li {
  margin-right: 21px;    font-size: 14px;
}
body.chint .main-header__nav nav>ul {
  margin-right: 23px;
}
body.chint .main-header__price svg {
     display: block; 
    margin-right: 10px;
}
body.chint .main-header__phone a,
body.chint .main-header__phone a:hover {
  font-size: 14px;
}
body.chint .main-header__search-toggle {
  background: transparent;
  margin-right: 0px;
  width: 94px;
  padding-left: 26px;
  padding-top: 0px;;;
}
body.chint .main-header {
  /*background: #ffffff;*/
}
body.chint .main-header__top__right a {
  color: #006cb5;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
body.chint .main-header__top__right {
  margin-left: 0px;
}
body.chint .main-header__top__right a.tex1 {
  color: #006cb5;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}
body.chint .main-header__basket {
  border: none;
  /*background-image: url(../img/i_basket.png);*/
  width: 62px;
  height: 88px;
  /*background-position: center;*/
  /*background-repeat: no-repeat;*/
  position: relative;
  top: 2px;
  background-color: #fff;
  /* padding: 20px 0px 0px 0px; */;
}
body.chint .main-header__basket svg{
    position: relative;
    top: 4px;
    width: 30px;
    stroke:#000
}
body.chint .main-header__basket.active svg,
body.chint .main-header__basket:hover svg,
body.chint .main-header__auth.active svg,
body.chint .main-header__auth:hover svg{
  stroke: #006cb5;
}
.bg-dark-dots .regit .select2-container--default .select2-selection--single{background-color: #f4f4f4;
}
 .bg-dark-dots .regit .select2-container--default .select2-selection--single .select2-selection__rendered{
  color:#000;
 }
body.chint .main-header__basket .count {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: red;
  border-radius: 50%;
  width: 17px;
  height: 18px;
  line-height: 20px;
  font-size: 10px;
  font-family: "Museo Sans Cyrl -100";
  font-weight: 400;
  color: #fff;
  margin-top: -18px;
  margin-left: 8px;
}
body.chint .main-header__auth {
  background-color: #fff;
  border: none;
  width: 67px;
  height: 94px;
  /*background-image: url(../img/i_auth.png);*/
  /*background-position: center;*/
  /*background-repeat: no-repeat;*/
  position: relative;
  top: -1px;
}
body.chint .main-header__auth svg{stroke: #000;
    width: 23px;
    position: relative;
    top: 4px;}
@media (max-width: 1259px) {
    body.chint .main-header--bgMine .main-header__top__inner{
  padding-left: 40px;}
    body.chint>main .titleBlock .wrap{}
  body.chint .main-header__basket {
    height: 68px;
  }
  body.chint .main-header__auth {
    height: 74px;
  }
  body.chint .main-header__top__right {
    float: right;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  body.chint .main-header__top__right .main-header__phone a{
        display: inline-block;    margin-left: 15px;
  }
  body.chint .main-header__top__right a.tex1{    font-size: 14px;    font-weight: 700;}
}
@media (max-width: 950px) {
    body.chint .main-header__phone{display: none;}
}
@media (max-width: 767px) {
    body.chint .main-header--bgMine .main-header__top__inner{
            padding-left: 13px;
    }
    body.chint .main-header__logo{    background-size: 72px auto;}
    body.chint .main-header__basket{width: 51px;
    background-size: 24px;
    top: 3px;}
    body.chint .main-header__auth{     width: 50px;
    background-size: 16px;
    top: 1px;}
    body.chint .main-header__logo span{display: none;
    }
    body.chint .main-header__search-toggle{width: 50px;
    padding-left: 10px;
    padding-top: 5px;}
  body.chint .main-header__logo {
    margin-right: 09px;
  }
  body.chint .main-header__basket {
    height: 38px;
  }
  body.chint .main-header__auth {
    height: 44px;
  }
}
#particles-js {
  pointer-events: none;
}
body.chint button:focus,
body.chint .slideBlock,
.slick-slide img {
  outline: none;
}
body.chint {
  outline: none;
}
body.chint>main {
  z-index: 2;
  width: 100%;
  position: relative;
}
body.chint p {
  margin-bottom: 10px;
}
body.chint>main .titleBlock {
  width: 100%;
}
body.chint>main .titleBlock .wrap {
  padding: 0px 40px 62px;
  width: 100%;
  max-width: 1680px;
  margin: 0px auto;
}
body.chint>main .titleBlock .title {
  color: #000000;
  font-family: "Open Sans";
  font-size: 38px;
  font-weight: 800;
  line-height: 45px;
}
body.chint .breadcrumb {
  margin: 18px 0 20px;
}
body.chint .prod {
  width: 100%;
  overflow: auto;
  background-color: #ffffff;
  display: flex;
    flex-wrap: wrap;
}
body.chint .prodLeft {
  background-color: #ffffff;
  width: 50%;
  min-height: 506px;
  float: left;
  overflow: auto;
  height: 100%;
}
body.chint .prodLeft .wrap {
  overflow: auto;
  position: relative;
  height: 480px;
  float: right;
  width: 100%;
  max-width: 610px;
}
body.chint .slider-nav .slick-list {
  padding: 0px!important;
  width: 70px;
  position: relative;
  top: 21px;
}
body.chint .slick-track {}
body.chint .slider-nav {
  position: absolute;
  top: 46px;
  right: 40px;
  width: 100px;
}
body.chint .slick-slide img {}
body.chint .slideImage {}
body.chint .slideImage a {
  display: block;
  max-height: 460px;
  padding: 45px 122px 45px 0px;
}
body.chint .slideImage img {
  max-height: 410px;
  margin: 0px auto;
}
body.chint .slideBlock {
  padding: 15px 0px;
}
body.chint .slideBlock img {
  /*width: 100%;*/
  max-width: 60px;
  margin: auto;
  cursor: pointer;
}
body.chint .slick-arrow {
  background: none;
  border: none;
  color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 70px;
  position: absolute;
}
body.chint .slick-prev {
  background-image: url(../img/svg/img-slider-prev.svg);
}
body.chint .slick-next {
  background-image: url(../img/svg/img-slider-next.svg);
}

/*[aria-hidden="true"]{opacity: 0}*/
body.chint .prodRight {
  background-color: #b2d3e9;
  width: 50%;
  float: left;
  overflow: auto;
}
body.chint .prodRight .wrap {
  overflow: auto;
  padding: 44px 15px 129px 93px;
  width: 100%;
  max-width: 660px;
}
body.chint .prodRight .art {
  width: 144px;
  opacity: 0.6;
  color: #000000;
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 23px;
}
body.chint .prodRight .price {
  color: #000000;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 400;
  overflow: auto;
  min-height: 51px;
}
body.chint .prodRight .price p {
  font-family: "Open Sans";
  margin-bottom: 0px;
  float: left;
  display: block;
  color: #000000;
}
body.chint .prodRight .price b {
  font-family: "Open Sans";
  font-weight: 700;
  color: #000000;
}
body.chint .prodRight .availab {
color: #0e915e;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    text-align: right;
    width: 166px;
    float: right;
}
body.chint .prodRight .not_availab {
  /*color: #0e915e;*/
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
    text-align: right;
    width: 160px;
  /*color: #0e915e;*/
  float: right;
}
body.chint .prodRight i.i_arr-gr {
  width: 25px;
  float: left;
  background-image: url(../img/i_arr-gr.png);
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 3px;
  left: 7px;
  margin-right: -18px;
}
body.chint .prodRight i.i_not {
  width: 25px;
  float: left;
  background-image: url(../img/i_not.png);
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 3px;
  left: 7px;
  margin-right: -18px;
}
body.chint .prodRight .btnWrap {
  overflow: auto;
}
body.chint .prodRight .buy {
  color: #006cb5;
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 400;
  line-height: 55px;
  width: 209px;
  background-color: #ffffff;
  text-align: center;
  float: left;
  margin-right: 15px;
  cursor: pointer;
  margin-bottom: 24px;
}
body.chint .modal_7 .btnBl .btnNext:hover,
body.chint .prodRight .buy:hover {
  background-color: #2391dc;
  color: #fff;
           -webkit-transition: background .15s ease-in-out;
        -moz-transition: background .15s ease-in-out;
        -ms-transition: background .15s ease-in-out;
        -o-transition: background .15s ease-in-out;
        transition: background .15s ease-in-out;
}
body.chint .prodRight .toBasket {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 400;
  line-height: 55px;
  background-color: #006cb5;
  float: right;
  text-align: center;
  letter-spacing: 0.4px;
  width: 248px;
  cursor: pointer;
  margin-bottom: 24px;
}
body.chint .prodRight .toBasket:hover {
  background-color: #2391dc;
         -webkit-transition: background .15s ease-in-out;
        -moz-transition: background .15s ease-in-out;
        -ms-transition: background .15s ease-in-out;
        -o-transition: background .15s ease-in-out;
        transition: background .15s ease-in-out;
}
@media(max-width: 1260px){
  body.chint .prodRight .toBasket{
        float: left;
  }
}
@media(max-width: 1079px){
  body.chint .prodRight .toBasket{
        float: right;
  }
}
body.chint .prodRight .desc {
  opacity: 0.8;
  color: #000000;
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  width: 100%;
  float: none;
}
@media(max-width: 1079px) {
  body.chint .prodRight {
    width: 100%;
  }
  body.chint .prodLeft {
    width: 100%;
    min-height: 125px;
    max-height: 154px;
  }

  body.chint .prodLeft .wrap {
    float: none;
    margin: 0px auto;
    height: auto;
  }
  body.chint .prodRight .wrap {
    margin: 0px auto;
    padding: 44px 15px 129px 15px;
  }
  body.chint .slick-prev {
    background-image: url(../img/svg/arrow-left.svg);
    top: 50%;
    left: 0px;
    margin-top: -20px;
  }
  body.chint .slick-next {
    background-image: url(../img/svg/arrow-right.svg);
    top: 50%;
    right: 0px;
    margin-top: -20px;
  }
  body.chint .slideImage img {
    max-height: 124px;
  }
  body.chint .slider-nav {
    display: none;
  }
  body.chint .slideImage a {
    padding: 15px;
  }
}
body.chint .info {
  background-color: #131f39;
  width: 100%;
  overflow: auto;
}
body.chint .info .wrap {
  padding: 75px 40px 83px;
  width: 100%;
  max-width: 1680px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
}
body.chint .infoBtn {
  font-family: "Open Sans";
  font-size: 17px;
  color: #ffffff;
  line-height: 53px;
  border: 1px solid #ffffff;
  padding: 0px 14px;
  font-weight: 600;
  letter-spacing: 0px;
  cursor: pointer;
}

body.chint .infoBtn.active {
  background-color: #ffffff;
  color: #000000;
}
body.chint .infoBtn:hover{color: #006cb5;transition: color .25s ease;
    outline: 0!important;}
body.chint .info .infoText {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  width: 100%;
  margin-top: 57px;
}
body.chint #infoBtn_1 {
  order: 1;
}
body.chint #infoBtn_2 {
  order: 3;
}
body.chint #infoBtn_3 {
  order: 5;
}
body.chint #infoBtn_4 {
  order: 7;
}
body.chint #infoBtn_5 {
  order: 9;
}
body.chint #infoTab1 {
  order: 10;
}
body.chint #infoTab2 {
  order: 11;
}
body.chint #infoTab3 {
  order: 12;
}
body.chint #infoTab4 {
  order: 13;
}
body.chint #infoTab5 {
  order: 14;
}
@media(max-width: 840px) {
  body.chint .infoBtn {
    width: 100%!important;
    margin-bottom: 25px;
    /*float: left;*/
    /*margin-right: 5%;*/
  }
  body.chint .info .infoText {
    margin-bottom: 30px;
    margin-top: 0px;
  }
  body.chint #infoTab1 {
    order: 2;
  }
  body.chint #infoTab2 {
    order: 4;
  }
  body.chint #infoTab3 {
    order: 6;
  }
  body.chint #infoTab4 {
    order: 8;
  }
  body.chint #infoTab5 {
    order: 10;
  }
}
body.chint .tech {}
body.chint .tech>div {
  width: calc(50% - 20px);
  float: left;
  margin: 0px 0px 0px;
  padding: 0px ;
}
body.chint .tech>div:nth-child(2){float: right}
body.chint .tech b {
  margin-bottom: 13px;
      font-size: 20px;
    font-weight: 600;
  display: block;
}
body.chint .tech div div {
  width: 100%;
  overflow: auto;
  border-top: 1px solid #2b354d;
  padding: 16px 0px 0px;
}
body.chint .tech div div:last-child {
  border-bottom: 1px solid #2b354d;
}
body.chint .tech p {
  display: block;
  max-width: 50%;
  line-height: 21px;
  text-align: right;
}
body.chint .tech p:nth-child(1) {
  float: left;
  text-align: left;
}
body.chint .tech p:nth-child(2) {
  float: right;
}
@media(max-width: 850px) {
  body.chint .tech>div {
    width: calc(100%);
  }
}
body.chint .table>tbody>tr>td{
    padding: 9px 0;
    font-size: 15px;
        border-color: rgba(255,255,255,.2);
}
body.chint .product-table>thead>tr>th,
body.chint .table>tbody>tr.product-table-item>td{    padding: 20px;    text-align: center!important;}
body.chint .product-table>thead>tr>th:nth-child(1),
body.chint .table>tbody>tr.product-table-item>td:nth-child(1){text-align: left!important;}
body.chint .product-table .btn--line{margin-bottom: 0px}
body.chint .table{    margin-bottom: 55px;}
.banner {
  width: 960px;
  height: 540px;
}
body.chint .table>tbody>tr>td:nth-child(2){
    text-align: right;
}
body.chint .infoText {
  width: 100%;
  overflow: auto;
  display: none;
}
body.chint .similar {
  width: 100%;
  overflow: auto;
}
body.chint .similar>.wrap {
  padding: 68px 40px 65px;
  width: 100%;
  max-width: 1680px;
  margin: 0px auto;
  overflow: auto;
  position: ;;
}
body.chint .prod{    position: relative;
    width: 100%;
    /*max-width: 1680px;*/
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;}
body.chint .product:before{
  content:"";
      position: absolute;
    content: '';
    z-index: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 50%;
    background: #b2d3e9;
}
@media(max-width: 1079px){
  body.chint .product:before{display: none;}
}
body.chint .prodWrap{
    z-index: 2;width: 100%;
    /* max-width: 1680px; */
    margin: 0px auto;
    max-width: 1680px;
    padding: 0px 40px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;}
body.chint .main-header__top__inner{
  margin: 0 auto 0px;}
body.chint .similar>.wrap>p {
  color: #000000;
  font-family: "Open Sans";
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 39px;
}
body.chint .similar .btn {
  width: 54px;
  height: 54px;
  background-color: #ffffff;
  float: right;
}

/*body.chint .similar .btn.btnL {}
body.chint .similar .btn.btnR {}*/
body.chint .similar .simWrap {
  width: 100%;
}
body.chint .similar .simWrap .owl-nav {
  position: absolute;
  right: 0px;
  top: -78px;
}
body.chint .similar .simWrap .owl-prev,
body.chint .similar .simWrap .owl-next {
  width: 54px;
  height: 54px;
  background-color: #ffffff;
  color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}
body.chint .similar .simWrap .owl-prev:hover,
body.chint .similar .simWrap .owl-next:hover {
  background-color: #96cef4;
         -webkit-transition: background .25s ease-in-out;
        -moz-transition: background .25s ease-in-out;
        -ms-transition: background .25s ease-in-out;
        -o-transition: background .25s ease-in-out;
        transition: background .25s ease-in-out;
}
body.chint .similar .simWrap .owl-prev {
  background-image: url(../img/svg/arrow-left.svg);
  float: left;
}
body.chint .similar .simWrap .owl-next {
  background-image: url(../img/svg/arrow-right.svg);
  float: right;
}
body.chint .similar .simBl {
  float: left;
  text-align: center;
  display: block;
}
body.chint .similar .imageBlock {
  position: relative;
  height: 284px;
  background-color: #ffffff;
  width: 100%;
  margin-bottom: 32px;
  padding: 27px 15px 44px;
}
body.chint .similar .image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.tab-content>.infoText {
  color: white;
}
body.chint .similar .title {
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 11px;
}
body.chint .similar .price {}
body.chint .similar .price>p {
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Open Sans";
}
body.chint .similar .price b {
  font-family: "Open Sans";
  font-weight: 600;
}
body.chint .similar .simBl .imageBlock:after {
  content: "";
  background-color: #2c91d6;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0;
         -webkit-transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -ms-transition: opacity .25s ease-in-out;
        -o-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out;
  ;
}
body.chint .similar .simBl:hover .imageBlock:after {
  opacity: 0.5;
}
body.chint .similar .simBl:hover .title,
body.chint .similar .simBl:hover .price>p {
  color: #006cb5;
}
body.chint .main-footer {
  width: 100%;
}
@media (max-width: 767px) {
  body.chint .prodRight .not_availab {
    float: none;
    margin-left: auto;
    margin-right: auto;
        text-align: right;
    margin-bottom: 10px;
  }
  body.chint>main .titleBlock .wrap {
    padding: 25px 15px 29px;
  }
  body.chint>main .titleBlock {}
  .breadcrumb {
    display: none;
  }
  body.chint>main .titleBlock .title {
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
  }
  body.chint .prodRight {}
  body.chint .prodRight .wrap {
    padding: 18px 15px 35px 15px;
  }
  body.chint .prodRight .art {
    text-align: center;
    width: 100%;
    font-size: 12px;
    margin-bottom: 6px;
    line-height: 15px;
  }
  body.chint .prodRight .price {
    min-height: auto;
    line-height: 15px;
  }
  body.chint .prodRight .price p {
    float: none;
    display: block;
    text-align: center;
    font-size: 13px;
    margin-bottom: 6px;
  }
  body.chint .prodRight .price b {
    font-size: 16px;
  }
  body.chint .prodRight .availab {
    float: none;
    margin: 0px auto 0px;
    font-size: 12px;
    margin-bottom: 13px;
    width: 150px;
    line-height: 30px;
  }
  body.chint .prodRight .availab .i_arr-gr {
    width: 18px;
    height: 18px;
    background-size: contain;
  }
  body.chint .prodRight .availab .i_not {
    width: 18px;
    height: 18px;
    background-size: contain;
  }
  body.chint .prodRight .btnWrap {}
  body.chint .prodRight .buy {
    width: 100%;
    line-height: 44px;
    font-size: 14px;
    margin-bottom: 15px;
    margin-right: 0px;
  }
  body.chint .prodRight .toBasket {
    line-height: 44px;
    font-size: 13px;
    width: 100%;
    margin-bottom: 21px;
  }
  body.chint .prodRight .desc {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
  body.chint .info {}
  body.chint .info .wrap {
    padding: 35px 15px 20px;
  }
  body.chint .infoBtn {
    line-height: 44px;
    font-size: 13px;
  }
  body.chint .info .infoText {
    line-height: 24px;
    font-size: 12px;
  }
  body.chint .tech>div {}
  body.chint .tech b {
    line-height: 44px;
    font-size: 12px;
    margin-bottom: 0px;
  }
  body.chint .tech div div {
    padding: 4px 0px 0px;
  }
  body.chint .tech p:nth-child(1) {
    font-size: 12px;
  }
  body.chint .tech p:nth-child(2) {
    font-size: 12px;
    margin-bottom: 4px;
  }
  body.chint .similar {}
  body.chint .similar>.wrap {
    padding: 15px 0px 0px;
  }
  body.chint .similar>.wrap>p {
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
  }
  body.chint .similar .simWrap {
    position: relative;
    background-color: #fff;
    padding-bottom: 17px;
  }
  body.chint .similar .simWrap .owl-nav {
    top: 60px;
    position: absolute;
    left: 0px;
  }
  body.chint .similar .simWrap .owl-prev {
    background-color: transparent;
  }
  body.chint .similar .simWrap .owl-next {}
  body.chint .similar .imageBlock {
    height: 152px;
    background-size: contain;
    padding: 33px 15px 22px;
    margin-bottom: 0px;
  }
  body.chint .similar .image {}
  body.chint .similar .title {
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 0px;
  }
  body.chint .similar .price {}
  body.chint .similar .simBl {
    float: none;
  }
}

/*footer*/
@media (max-width: 767px) {
  body.chint .main- body.chint .main-footer__nav-wrap {
    display: block;
  }
  body.chint .main-footer .main-footer__nav-wrap>div {
    max-width: 100%;
  }
  body.chint .main-footer .main-footer__nav-wrap>div:first-child {
    display: block;
  }
  body.chint .main-footer__bottom>div:nth-child(2) {
    padding-right: 0;
    line-height: 23px;
    margin-left: 0px;
  }
  .main-footer__nav-wrap>div:first-child {
    display: flex;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  body.chint .main-footer__bottom>div:nth-child(2) a {
    display: block!important;
    margin-right: 0!important;
    margin-bottom: 37px;
  }
  body.chint footer__nav-wrap {
    display: block;
  }
  body.chint .main-footer .main-footer__nav-wrap>div {
    max-width: 100%;
  }
  body.chint .main-footer .main-footer__nav-wrap>div:first-child {
    display: block;
  }
  body.chint .main-footer__bottom>div:nth-child(2) {
    padding-right: 0;
    line-height: 23px;
    margin-left: 0px;
  }
  .main-footer__nav-wrap>div:first-child {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  body.chint .main-footer__bottom>div:nth-child(2) a {
    display: block!important;
    margin-right: 0!important;
    margin-bottom: 37px;
  }
}

/*footer*/

/*popup*/
body.chint .modalBlock {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}
body.chint .modalBlock.is-visible {
  visibility: visible;
}
body.chint .shadow {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
  cursor: pointer;
}
body.chint .modalBlock.is-visible .shadow {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
body.chint .modalBlock.is-visible .shadow.shadow_6 {
  opacity: 0;
}
body.chint .modalMine {
  display: none;
  z-index: 50;
  background-color: #fff;
  box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
  transition: all 0.3s 0.12s;
  transform: translateY(-10%);
  opacity: 0;
  width: 100%;
  max-width: 970px;
  /*height: 420px;*/
  padding: 37px 0px 0px;
  color: black;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  overflow: visible;
  position: relative;
}
body.chint .modalMine.is-visible {
  display: block;
}
body.chint .modalBlock.is-visible .modalMine {
  transform: translateY(0);
  opacity: 1;
}
body.chint .modal-close {
  position: absolute;
  top: -54px;
  right: 0px;
  width: 54px;
  height: 54px;
  background-image: url(../img/close.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  left: auto;
  background-color: #fff;
}
body.chint .modal-close svg{display: none;}
body.chint .modal-close:hover {
  color: #777;
}
body.chint .modalMine p {
  color: black;
}
body.chint .modalMine:before {
  display: none;
}
body.chint .modalMine {}
body.chint .modalMine p {
  text-align: center;
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
body.chint .modalMine b {}
body.chint .modalMine .title {
  color: #000000;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 800;
  line-height: 25px;
  margin-bottom: 31px;
  text-align: center;
}
body.chint .modalMine .fieldEl {
  position: relative;
  padding: 6px 0px 0px;
  margin: 0px 25px;
}
body.chint .modalMine .fieldEl p {
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 6px;
  text-align: left;
}
body.chint .modalMine input:not([type="submit"]) {
  background-color: #f4f4f4;
  padding: 5px 13px;
  border: 1px solid #f4f4f4;
  position: relative;
  width: 100%;
  height: 47px;
}
body.chint .modalMine .bottomBl {
  background-color: #f4f4f4;
  position: absolute;
  width: 100%;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
}
body.chint .modalMine .bottomBl>.butn-blue {
  text-align: center;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 44px;
  width: 205px;
  height: 44px;
  background-color: #006cb5;
  color: #ffffff;
  cursor: pointer;
}
body.chint .modal_1 {
  max-width: 453px;
  width: 100%;
  height: 377px;
}
body.chint .modal_1 .bottomBl {}
body.chint .modal_1 .bottomBl>.butn {}
body.chint .modal_1>p {
  text-align: left;
  padding: 0px 26px 0px;
}
body.chint .modal_1 .fieldEl {
  margin-bottom: 21px;
}
body.chint .modal_2 {
  max-width: 452px;
  height: 378px;
}
body.chint .modal_2 .wrap {
  padding: 0px 26px 0px;
  width: 451px;
  overflow: auto;
}
body.chint .modal_2 .imgWrap {
  float: left;
}
body.chint .modal_2 img {
  max-width: 153px;
}
body.chint .modal_2 p {
  text-align: left;
  float: right;
  width: 240px;
  line-height: 17px;
  padding-top: 6px;
}
body.chint .modal_2 b {
  text-align: left;
  float: left;
  padding-left: 6px;
  padding-top: 6px;
  font-size: 15px;
}
body.chint .modal_2 .edit {
  float: right;
  width: 151px;
  padding-top: 6px;
  margin-right: 95px;
  margin-top: 13px;
  /* line-height: 17px; */
}
body.chint .modal_2 .minus {
  position: relative;
  top: -3px;
  height: 36px;
  border: none;
  width: 21px;
  float: left;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-image: url(../img/i_minus.png);
}

/*body.chint .modal_2 butt body.chint .modal_2 input {
  background-color: #f4f4f4;
  width: 80px;
  border: none;
  text-align: center;
  height: 36px;
  line-height: 36px;
  margin-top: 8px;
  position: relative;
  top: -11px;
}*/
body.chint .modal_2 input:not([type="submit"]) {
  background-color: #f4f4f4;
  width: 80px;
  border: none;
  text-align: center;
  height: 36px;
  line-height: 36px;
  margin-top: 8px;
  position: relative;
  top: -11px;
  float: left;
}
body.chint .modal_2 .plus {
  background-color: transparent;
  border: none;
  background-image: url(../img/i_plus.png);
  height: 36px;
  background-position: center;
  width: 30px;
  background-repeat: no-repeat;
  position: relative;
  top: -3px;
  float: left;
}
body.chint .modal_2 .bottomBl {
  justify-content: space-around;
}
body.chint .modal_4 {
  max-width: 451px;
  height: 248px;
}
body.chint button:focus,
body.chint input:not([type="submit"]):focus,
body.chint .slideBlock,
.slick-slide img {
  outline: none;
}
body.chint .modal_3 p {
  padding: 0px 30px 0px;
}
body.chint .modal_2 .butn-blue {
  width: 179px!important;
}
body.chint .modal_3 {
  max-width: 450px;
  height: 210px;
  padding: 51px 0px 0px;
}
body.chint .modal_2 .butn-white {
  text-align: center;
  border: 1px solid #006cb5;
  height: 44px;
  width: 182px;
  line-height: 44px;
  color: #006cb5;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
body.chint .modal_3 {}
body.chint .modal_3 .title,
body.chint .modal_3 p {}
body.chint .modal_4 .title {
  padding-top: 14px;
  margin-bottom: 15px;
}
body.chint .modal_4 b {
  font-size: 14px;
  text-align: center;
  display: block;
}
body.chint .modal_4 p {
  padding: 10px 15px 0px;
  font-size: 14px;
}
body.chint .modal_4 a {}
body.chint .modal_5 {
  width: 450px;/*height: 100%;*/
  /*height: 407px;*/
  padding: 22px 0px 140px;
}
body.chint .modal_5>.title {
  margin-bottom: 14px;
}
body.chint .modal_5>p {
  font-size: 15px;
}
body.chint .modal_5>p>a {}
body.chint .modal_5 .fieldEl {
  padding-top: 6px;
}
body.chint .modal_5 .fieldEl p {}
body.chint .modal_5 .fieldEl input:not([type="submit"]) {}
body.chint .modal_5 label input:not([type="submit"]) {
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  ;
  opacity: 0;
  opacity: 1;
  cursor: pointer;
  height: 18px;
  width: 22px;
}
body.chint .modal_5>a {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 40.11px;
  float: right;
  margin-right: 36px;
  position: absolute;
  bottom: 93px;
  right: 0px;
}
@media(max-width: 460px){
  body.chint .modal_5>a{font-size: 13px;    line-height: 33px;}
  body.chint .modal_5{height: 100%;}
}
body.chint .modal_5 .butn-blue {
  width: 165px!important;
}
body.chint .modal_5 label {
  float: left;
  position: absolute;
  bottom: 103px;
  left: 26px;
  font-size: 13px;
  display: block;
  /*position: relative;*/
  /*padding-left: 35px;*/
  /*margin-bottom: 12px;*/
  cursor: pointer;
  /*font-size: 22px;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 17px;
  /*position: relative;*/
  /*padding-left: 35px;*/
  /*margin-bottom: 12px;*/
  padding-left: 8px;
}

/*body.chint .modal_5 .checkmark {
  position: absolute;
  top: 0;
  display: none;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}*/

/* Customize the label (the checkboxInput) */
body.chint .modal_5 label.checkboxInput {
  display: block;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 400;
}

/* Hide the browser's default checkbox */
body.chint .modal_5 label.checkboxInput input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
body.chint .modal_5 label .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
body.chint .modal_5 label:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
body.chint .modal_5 label input:checked~.checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
body.chint .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
body.chint .modal_5 label input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
body.chint .modal_5 label .checkmark:after {
  left: 10px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
body.chint .bottomBl {}
body.chint .butn-blue {}

/*body.chint .modal_5 label input:checked ~ .checkmark {
  background-color: #2196F3;
}
body.chint .modal_5 label input:checked ~ .checkmark {
  background-color: #2196F3;
}
body.chint .modal_5 label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
body.chint .modal_5 label input:checked ~ .checkmark:after {
  display: block;
}
body.chint .modal_5 label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}*/
body.chint .form input:not([type="submit"]) {
  border: 1px solid #f4f4f4;
  outline: none;
}
body.chint .form input:not([type="submit"]):focus {
  border: 1px solid #60646c;
  outline: none;
}
body.chint .modal_6 {
  background-color: transparent;
  box-shadow: none;
  transition: none;
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0px;
}
body.chint .modal-cont {}
body.chint .modal_6 .modalMine {
  display: block!important;
  max-width: 453px;
  left: 50%;
  margin-left: -229px;
  padding: 23px 28px 25px;
  height: auto;
  z-index: 52
}
body.chint .modal_6 .modal-close {
  top: 0px;
}
body.chint .modal_6 .modalMine .title {
  margin-bottom: 14px;
}
body.chint .modal_6 .col3 div {
  margin-bottom: 17px;
  position: relative;
  overflow: auto;
  text-align: left;
}
body.chint .modal_6 .col3  .btnNext{float: none;}
body.chint .modal_6 .col3 p {
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 22.07px;
  margin-bottom: 0px;
  text-align: left;
}

/*body.chint .modal_6 p {
  margin-bottom: 19px;
}
body.chint .modal_6 .col3 input {
  background-color: #f4f4f4;
  padding: 5px 13px;
  border: 1px solid #f4f4f4;
  position: relative;
  width: 100%;
  height: 47px;
}
body.chint .modal_6 .col3 input:focus,
body.chint .modal_6 .col3 textarea:focus {
  border: 1px solid #60646c;
  outline: none;
}*/
body.chint .input_empty input:not([type="submit"]),
body.chint .needEmail input:not([type="submit"]) {
  border: 1px solid #f09395
}
body.chint .input_empty:after {
  content: "Не заполнено";
  color: #ed3237;
  font-size: 14px;
  display: block;
  position: absolute;
  bottom: 3px;
  right: 30px;
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 40.07px;
  pointer-events: none;
}
body.chint .input_empty:before {
  content: "\1F7B3";
  color: #ed3237;
  font-size: 10px;
  display: block;
  position: absolute;
  bottom: 3px;
  right: 14px;
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 40.07px;
  pointer-events: none;    z-index: 1;
}
body.chint .needEmail:after {
  content: "Некорректный email";
  color: #ed3237;
  font-size: 14px;
  display: block;
  position: absolute;
  bottom: 5px;
  right: 14px;
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 40.07px;
}
body.chint .modal_6 .inputComment textarea {
  background-color: #f4f4f4;
  padding: 5px 13px;
  border: 1px solid #f4f4f4;
  width: 100%;
}
body.chint .modal_6 .inputCaptcha {}
body.chint .modal_6 .inputCaptcha span {
  background-color: #f4f4f4;
  padding: 5px 13px;
  height: 47px;
  width: 120px;
  float: left;
  line-height: 34px;
}
body.chint .modal_6 .col3 .inputCaptcha input:not([type="submit"]) {
  float: right;
  width: 140px;
}
@media(max-width:380px){
  body.chint .modal_6 .col3 .inputCaptcha input:not([type="submit"]) {
        width: 100%;
    margin-top: 10px;;
  }
}
body.chint .modal_6 .regit .select2-container {
  width: 100%!important;
}
body.chint .modal_6 .regit option {}
body.chint .modal_6 .btnBl {
  overflow: auto;
}
body.chint .modal_6 .btnBl a {
  width: 181px;
  height: 44px;
  background-color: #006cb5;
  display: block;
  color: white;
  line-height: 44px;
  text-align: center;
  margin: 0px auto;
  font-size: 14px;
  float: none;
  padding: 0px;
}
@media(max-width: 560px) {
  body.chint .modal_6 .modal {
    width: 100%;
    position: static;
    max-width: 100%;
    margin-left: 0px;
  }
}

/*popup*/
.main-header__nav-toggle.active {
  background-image: url(../img/closeMenu.png);
  background-size: 25px;
  transition: none;
  background-repeat: no-repeat;
  background-position: center;
}
.main-header__nav-toggle.active svg {
  display: none;
}
.main-header--bg .main-header__top {
  background-color: #fff;
}
body.chint2 .btnBack:hover,
body.chint .modal_2 .butn-white:hover {
  background-color: #2391dc;
  border: 1px solid #fff;
  color: #fff;
  transition: none;
}
body.chint2 #takeBlock .btnAdd:hover {
  background-color: #bcd5e6;
}
body.chint2 .btnNext:hover,
body.chint3 .rightPage .form .saveBtn:hover,
body.chint .modal_6 .btnBl a:hover,
body.chint .modalMine .bottomBl>.butn-blue:hover {
  background-color: #2391dc;
}
/*forgetPass*/
body.forgetPass
main{    background-color: #fff;}

body.forgetPass form{}

body.forgetPass  form tbody input[type="text"],
body.forgetPass  form tbody input[type="email"],
body.forgetPass  form tbody input[type="password"]{
    background-color: #f4f4f4;
    padding: 5px 13px;
    border: 1px solid #f4f4f4;
    position: relative;
    width: 100%;
    height: 47px;
      width: calc(100%);
    margin-right: 15px;
    margin-bottom: 20px;
}
body.forgetPass  form tbody input[type="text"]:hover,
body.forgetPass  form tbody input[type="email"]:hover,
body.forgetPass  form tbody input[type="password"]:hover{
    border: 1px solid #60646c;
    outline: none;

}
body.forgetPass  .main-content .bx-auth, .main-content [name="bform"]{
    padding: 15px 40px;    margin: 0 auto;
        max-width: 1430px;
    display: block;
    overflow: auto;
    width: 100%;;;;;;
}
body.forgetPass table{
        width: 100%;
    max-width: 500px;
    /* padding: 0px 0px; */
    margin: 0px 0px 30px;
}
body.forgetPass thead tr{line-height: 70px;}

body.forgetPass form table input[type="submit"]{
    width: 181px;
    height: 44px;
    background-color: #006cb5;
    display: block;
    color: white;
    line-height: 44px;
    text-align: center;
    font-size: 14px;
    padding: 0px;
    border: none;
    margin-top: 20px;;
    /* margin: 0px auto; */;}
body.forgetPass form table input[type="submit"]:hover{
        background-color: #2391dc;
}
body.forgetPass .main-header__content__inner{
      max-width: 1430px;
}
body.forgetPass form  td{    position: relative;}
body.forgetPass tbody .input_empty:after{
    bottom: 26px;
    right: 32px;
}
body.forgetPass tbody .input_empty:before {
    bottom: 26px;
    right: 18px;
}
body.chint .main-header__top__right a.main-header__price:after{
      position: absolute;
    content: '';
    background: #ed3237;
    left: 0;
    right: 100%;
    bottom: 4px;
    height: 1px;
    transition: all .25s ease;
}
body.chint .form-group--required:after{font-size: 16px;}
body.chint .main-header__top__right a.tex1:after{display: none;
}
body.chint .main-header__top__right a:hover:after {
    right: 0;
}
@media (max-width: 767px){
  body.chint .where-buy__info ,
  body.chint .where-buy__map {
      max-width: 58.33333%;
  }
}
@media (max-width: 460px){
  body.chint .modal_6 .modalMine{
          left: 0px;
    margin-left: 0px;
    width: 100%;    padding-top: 80px;
    max-width: 100%;
  }
  body.chint .modal_6 .modal-close{    right: 50%;
    margin-right: -29px;}
  body.chint .modal_5 .modal-close{    right: 50%;top: 0px;
    margin-right: -29px;}
    body.chint .modal_5{
               left: 0px;
    margin-left: 0px;    
    width: 100%;    padding-top: 80px;
    max-width: 100%;
    }
}
/*forgetPass*/

@media (max-width: 767px){

body.chint  .main-header__search-toggle.active{
      background-color: #000;
      background-image: url("/local/templates/chint_catalog/assets/img/closeMenu.png");
          background-size: 27px;
    background-repeat: no-repeat;
    background-position: center;
}
  body.chint  .main-header__search-toggle.active svg{
        display: none;
  }
}
@media (max-width: 1079px){
    body.chint .prodWrap{padding: 0px}
}

body.chint #hide-btn,
body.chint #show-btn,
body.chint .btn--line{
    width: 170px;
    line-height: 35px;
    margin: 0px auto 20px;
}
body.chint .mainWrap{
  padding: 15px 40px;
  margin: 0 auto;
  max-width: 1430px;
  display: block;
  overflow: auto;
  width: 100%;
}

