@charset 'UTF-8';
body.chint3>.title {
  color: #000000;
  font-family: "Open Sans";
  font-size: 38px;
  font-weight: 800;
  margin: 45px auto 43px;
  display: block;
  width: 100%;
  max-width: 1430px;
  padding: 0px 40px;
}
body.chint3 main {
  background: #fff;
  margin-bottom: -43px;
}
body.chint3 main>.wrap {
  width: 100%;
  max-width: 1430px;
  margin: 0px auto 43px;
  padding: 40px 40px 0px;
  overflow: auto;
}
body.chint3 .menu {
  width: 220px;
  float: left;
  margin-right: 20px;
  overflow: auto;
  margin-bottom: 20px;
}
body.chint3 .exit {
  color: #006cb5;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 35px;
  display: block;
}
body.chint3 .exit .i_exit {
  width: 15px;
  height: 15px;
  background-image: url(../img/i_exit.png);
  display: block;
  float: left;
  background-size: contain;
  margin-right: 11px;
  position: relative;
  top: 4px;
}
body.chint3 .butn {
  color: #a0a0a0;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 700;
  line-height: 49px;
  text-transform: uppercase;
  width: 100%;
  text-align: left;
  border-top: 1px solid #f1f0f0;
  cursor: pointer;
}
body.chint3 .butn:hover,
body.chint3 .butn.active {
  color: #006cb5;
}
body.chint3 .butn:last-child {
  border-bottom: 1px solid #f1f0f0;
}
body.chint3 .rightPage {
  width: calc(100% - 240px);
  padding-bottom: 24px;
  overflow: auto;
}
body.chint3 .rightPage {
  padding-bottom: 24px;
}
body.chint3 .rightPage .wrap {
  margin: 0px auto;
  width: 100%;
  max-width: 924px;
}
body.chint3 .rightPage .col3 {
  width: 50%;
  float: left;
}
body.chint3 .rightPage .form {
  padding-right: 29px;
}
body.chint3 .rightPage .form>.title {
  color: #000000;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 800;
  line-height: 19px;
  margin-bottom: 37px;
}
body.chint3 .rightPage .form .inputEl {
  position:   relative; 
  margin-bottom: 20px;
}
body.chint3 .rightPage .form .inputEl p {
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin-bottom: 4px;
}
body.chint3 .rightPage .form .inputEl input:not([type="submit"]) {
  height: 47px;
  background-color: #f4f4f4;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 40.07px;
  border: 1px solid #f4f4f4;
  width: 100%;
  color: #000000;
  padding: 0px 11px;
}
body.chint  .form   input:not([type="submit"]):focus ,
body.chint3 .rightPage .form .inputEl input:not([type="submit"]):focus {
border: 1px solid #60646c!important;
  outline: none;
}
body.chint3 .rightPage .form .saveWrap {
  margin-top: 30px;
  border-top: 1px solid #f1f0f0;
  padding: 30px 0px 55px;
  width: 100%;
  overflow: auto;
}
body.chint3 .rightPage .form .saveBtn {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 44px;
  height: 44px;
  background-color: #006cb5;
  float: right;
  text-align: center;
  width: 214px;
  border: none;
}
@media(max-width: 1000px) {
  body.chint3 .rightPage .col3 {
    width: 100%;
  }
}
@media(max-width: 900px) {
  body.chint3 .menu,
  body.chint3 .rightPage,
  body.chint3 .rightPage .form .saveBtn,
  body.chint3 .rightPage .col3 {
    width: 100%;
    margin-right: 0px;
    position: relative;;
  }
  body.chint3 .rightPage .form {
    padding-right: 0px;
  }
}
body.chint3 #myOrders {}
body.chint3 #myOrders .title {
  color: #000000;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 800;
  line-height: 19px;
  margin-bottom: 37px;
}
body.chint .table {}
body.chint .table .thead {
  border-bottom: 1px solid #f1f0f0;
  width: 100%;
  overflow: auto;
  padding-bottom: 6px;
}
body.chint .table .thead .cl {
  color: #a0a0a0;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  float: left;
}
body.chint #myOrders .cl1 {
  width: 17%;
}
body.chint #myOrders .cl2 {
  width: 18%;
}
body.chint #myOrders .cl3 {
  width: 19%;
  justify-content: unsafe;
  flex-direction: inherit;
}
body.chint #myOrders .cl4 {
  width: 26%;
}
body.chint #myOrders .cl5 {
  text-align: right;
  width: 20%;
}
body.chint .table .tbody {
  word-wrap: break-word;
}
body.chint .table .tbody .cl {
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  float: left;
  padding: 18px 0px 21px;
  display: flex;
  flex-direction: column;
}
body.chint .table .tbody .cl b {
  font-weight: 700;
  font-size: 17px;
  margin-right: 4px;
}
body.chint .table .tbody .cl1 {}
body.chint .table .tbody .cl2 {}
body.chint .table .tbody .cl3 {}
body.chint .table .tbody .cl4 {}
body.chint .table .tbody .cl5 {}
body.chint .table .rw {
  border-bottom: 1px solid #f1f0f0;
  overflow: auto;
  display: flex;
  align-items: center;
}
body.chint .table .rwMobile {
  display: none;
  border-bottom: 1px solid #f1f0f0;
  padding: 12px 0px 10px;
}
body.chint .table .rwMobile div {
  margin-bottom: 0px;
}
body.chint .table .rwMobile span {
  color: #a0a0a0;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  display: block;
  text-align: left;
  line-height: 19px;
}
body.chint .table .rwMobile p {
  color: #000000;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 7px;
}
body.chint .table .rwMobile b {
  font-family: "Open Sans";
  font-weight: 800;
}
body.chint3 #docs .title {
  color: #000000;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 800;
  line-height: 19px;
  margin-bottom: 37px;
}
body.chint3 #docs .tbody .cl {
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  display: block;
}
body.chint3 #docs .cl1 {
  width: 56%;
}
body.chint3 #docs .cl2 {
  width: 14%;
  text-align: center;
}
body.chint3 #docs .cl3 {
  width: 12%;
  text-align: center;
}
body.chint3 #docs .cl4 {
  width: 18%;
}
body.chint3 #docs .cl4 a,
body.chint3 #docs .rwMobile a {
  display: block;
  width: 110px;
  padding-left: 39px;
  background-image: url(../img/i_downl.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  line-height: 26px;
}
body.chint3 #docs .cl4 a {
  float: right;
}
body.chint .table .loadMore {
  color: #006cb5;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 49px;
  text-align: center;
  height: 54px;
  width: 100%;
  justify-content: center;
  cursor: pointer;
  display: none;
}
body.chint .i_loadMore {
  width: 26px;
  height: 22px;
  float: left;
  margin-top: 14px;
  background-image: url(../img/i_loadMore.png);
  margin-right: 11px;
}
body.chint .pagin {
  padding: 30px 0px;
}
body.chint .pagin .wrap {
  display: flex;
  justify-content: center;
}
body.chint .pagin .prevBtn,
body.chint .pagin .nextBtn {
  color: #006cb5;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 43px;
  padding: 0px 20px;
}
body.chint .i_prevP {
  width: 20px;
  height: 45px;
  background-image: url(../img/i_prevP.png);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  float: left;
  margin-right: 8px;
}
body.chint .i_prevN {
  width: 20px;
  height: 45px;
  background-image: url(../img/i_prevN.png);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  float: right;
  margin-left: 8px;
}
body.chint .pagin .pageLink {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 43px;
  display: block;
  width: 43px;
  text-align: center;
}
body.chint .pagin a:hover,
body.chint .pagin a.active {
  color: #ec282d;
}
body.chint .pagin .nextBtn {}
@media(max-width: 676px) {
  body.chint .table .rw {
    display: none;
  }
  body.chint .table .rwMobile {
    display: block;
  }
  body.chint .table .loadMore {
    display: flex;
  }
  body.chint3 .rightPage .title,
  body.chint .table .thead,
  body.chint .pagin {
    display: none;
  }
  body.chint .table .thead .cl {
    width: 100%!important;
  }
  body.chint .rightPage .table {
    margin-bottom: 0px;
  }
  body.chint3 .rightPage {
    padding-bottom: 0px;
  }
}
body.chint3 #myDistr {}
body.chint3 #myDistr .title {
  color: #000000;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 800;
  line-height: 19px;
  margin-bottom: 37px;
}
body.chint3 #myDistr .cl1 {
  width: 31%;
}
body.chint3 #myDistr .cl2 {
  width: 20%;
}
body.chint3 #myDistr .cl3 {
  width: 36%;
}
body.chint3 #myDistr .cl4 {
  width: 13%;
  text-align: right;
}
body.chint3 #myDistr .tbody {}
body.chint3 #myDistr .tbody .cl {
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
body.chint3 #myDistr .tbody .cl4 a {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
body.chint3>.title {
}
body.chint3 #help {
  padding-bottom: 20px;
}
body.chint3 #help .title {
  color: #000000;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 29px;
}
body.chint3 #help div {}
body.chint3 #help p {
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 20px;
}
body.chint3 #help b {
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  font-family: "Open Sans";
  font-weight: 700;
  display: block;
  padding-top: 15px;
  margin-bottom: -6px;
}
body.chint3 #help a {
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #006cb5;
}
body.chint3>.exit{
  display: none;;;;}
@media(max-width: 767px){
  body.chint3>.title {
  margin: 0px auto 0px;
  font-size: 14px;
  background: #fff;
  padding: 18px 15px 17px;;
  }
body.chint3 .exit{display: none;
}
body.chint3>.exit{
  display: block;
  margin: 16px auto 16px;
  width: 75px;
  font-size: 13px;;;;;;}
body.chint3 main>.wrap{
  padding: 0px 15px 0px;}
body.chint3 .rightPage .form .inputEl p{
  line-height: 22px;
  font-size: 12px;}
body.chint3 .rightPage .form .inputEl input:not([type="submit"]){
  padding: 0px 13px;
  height: 37px;
  font-size: 12px;}
body.chint3 .rightPage .form .inputEl{
  margin-bottom: 1px;}
body.chint3 .rightPage .form>.title{display: block;font-size: 14px;margin-bottom: 7px;
}
body.chint3 .rightPage .form .saveWrap{
  padding: 21px 0px 32px;
  margin-top: 0px;
  border-top: none;}


}